*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "mulish", sans-serif !important;
    background-color: #f8f9fa;
    color: #333;
    padding-top: 80px;
}
/* ============thanh điều hướng============ */
.dieu-huong{
    width: 100%;
    height: 40px;
    display: flex;
}

.nav{
    display: flex;  
    align-items: center;
    position: relative;
    left: 5%;
}

.nav a{
    padding: 0;
    margin-right: 5px;
    font-size: 13px;
}

.nav i{
    color: inherit;
    left: 2px;
    font-size: 10px;
}

.trangchu{
    color: #84857e;
}

.nav .trangchu:hover{
    color: black;
    transition: 0.5s;
}


/* ======= form đăng ký ======== */
.dang_ky{
    width: 630px;
    height: 630px;
    margin: 30px auto;
    background-color: white;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2); /* lần lượt là x - y - độ mờ */
}
    
.input-form{
    width: 272px;
    height: 50px;
    border: 1px solid lightgray;
    padding: 15px;
}
.input-form:focus{
    outline: none;
}

.form-register {
    max-width: 700px;
    padding: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    background-color: #65673b;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #65673b;
}

.submit-btn:hover{
    color: #7b8154;
    background-color: white;
    transition: 0.3s ease;
}

.dangnhap-in-form{
    color: #626242; 
    font-weight: 700;
    padding: 0;
    margin-left: 5px;
}

.dangnhap-in-form:hover{
    color: black;
    transition: 0.3s ease;
}


